<httpmethods >                                
<method name="get" allow="true" ></method>
<method name="post" allow="true" ></method>
<method name="trace" allow="true" ></method>
<method name="head" allow="true" ></method>
<method name="put" allow="true" ></method>
<method name="delete" allow="true" ></method>
<method name="connect" allow="true" ></method>
<method name="options" allow="true" ></method>
</httpmethods>
<defaults >                    
<page value="index.html" ></page>
<page value="index.htm" ></page>
<page value="default.html" ></page>
<page value="default.htm" ></page>
</defaults>
<php allow="false" path="php-cgi.exe" ></php>
<blacklist >    
<ip address="192.168.1.1" ></ip>
</blacklist>
<websites >        
<site path="www" port="81" online="true" ssl="false" ></site>
<site path="w2" port="8080" online="true" ssl="false" ></site>
</websites>
